.weight-input {
    width: 35%;
}

.weight-name {
    width: 50%;
    float: left;
}

.weight {
    height: 35px;
}

.category-checkbox{
    margin-right: 10px;
}

.error-style {
    color: white;
    background: indianred;
    /*@include box-shadow(0 0 5px rgba(220, 0, 0, 1)) !important;*/
    /*border: 1px solid rgba(220, 0, 0, 1) !important;*/
    /*outline: none !important;*/
}

.error-style:focus {
    color: white;
    background: indianred;
    /*@include box-shadow(0 0 5px rgba(220, 0, 0, 1)) !important;*/
    /*border: 1px solid rgba(220, 0, 0, 1) !important;*/
    /*outline: none !important;*/
}