.assignmentRow {
    text-align: center;
}

.assignmentGrade:hover {
    background-color:cornflowerblue;
    color:white;
    font-weight: bold;
}

.assignmentName:hover {
    background-color:cornflowerblue;
    color:white;
    font-weight: bold;
}

.fa-trash:hover {
    color:brown;
}

.AssignmentRow-grade-input {
    max-width: 5ch;
}
