.assignmentRow {
    text-align: center;
}

.assignmentGrade:hover {
    background-color:orange;
}

.assignmentName:hover {
    background-color:orange;
}

.fa-trash:hover {
    color:red;
}

.AssignmentRow-grade-input {
    max-width: 5ch;
}
