.assignmentRow{
    text-align: center;
}

.assignmentGrade:hover{
    background-color:orange;
}

.assignmentGrade{
    
}

.assignmentName:hover{
    background-color:orange;
}

.assignmentName{
    
}

.fa-trash:hover{
    color:red;
}

.fa-trash{
    
}

.btn-link{
    
}