.CourseHomePage {
    color: var(--theme-grey);
    font-style: italic;
}

.CourseHomePage-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-style: normal;
    font-size: 30;
}

.CourseHomePage-inner {
    text-align: center;
    flex-grow: 1;
}
