.CourseHomePage {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.CourseHomePage-inner {
    text-align: center;
    flex-grow: 1;
}

.btn-link{
    color:blue;
}

.courseName{
    font-size:2em;
    margin-bottom:5px;
}

.categoryHeading{
    font-size:2em;
}

.topBar{
    font-size: 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom-style: solid;*/
    /*border-width: thin;*/
    /*border-color: black;*/
    /*padding-bottom: 10px;*/
    margin-bottom: 10px;
}

.analyticsButton{
    font-size:0.9em;
    border:1px;
    border-radius:5px;
    background-color:orange;
    color: white;
    position:absolute;
    right:0px;
    margin-bottom: 25px;
}

.classHomeButton{
    font-size: 0.9em;
    border:1px;
    border-radius:5px;
    background-color:blue;
    color: white;
    position:absolute;
    right:140px;
}

.my-group {
    float: right;
    margin: 10px 30px 10px 10px;
}

.tableRow{
    text-align: center;
}

.fa-plus2{
    text-align: center;
}

.fa-plus2:hover{
    color:blue;
}

.addRow{
    text-align:center;
}
