.HabitPage {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--theme-grey);
}

.habit-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 0px 0px 10px 10px;
}

.HabitPage-inner {
    text-align: center;
    flex-grow: 1;
}

.lecture-slider {
    width: 50%;
}

.lecture-number {
    padding: 10px;
}

.form-control {
    width: 75%
}

.form-group {
    padding: 10px;
    font-weight: bold;
    border-color: cornflowerblue;
}

.question {
    width: 100%;
    background: aliceblue;
    padding: 3px 3px 3px 7px;
}