.HabitPage {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--theme-grey);
    font-style: italic;
}

.habit-title {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 10px;
}

.HabitPage-inner {
    text-align: center;
    flex-grow: 1;
}

.lecture-slider {
    width: 50%;
}

.lecture-number {
    padding: 10px;
}

.form-control {
    width: 75%
}