.Navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Navigation-navbar {
    background-color: var(--theme-color);
    /*border-bottom: 1px solid var(--theme-grey);*/
    flex-shrink: 0;
    padding: 0.3rem 1rem;
}

.Navigation-main-container {
    /* Applies to the container's children */
    display: flex;
    flex-direction: row;

    /* Grows this container vertically since it is itself in a flex container */
    flex-grow: 1;
}

.Navigation-sidebar {
    background: white;
    min-width: 300px;
    width: 300px;
    overflow-y: scroll;

    border-right: 1px solid var(--theme-grey);
    padding: 10px;
    --item-padding: .25em;
}

.Navigation-sidebar-heading {
    padding: var(--item-padding);
    cursor: pointer;
}

.Navigation-sidebar-heading:hover {
    text-decoration: underline;
}

.Navigation-sidebar-active-heading {
    font-weight: bold;
    color: var(--theme-accent);
}

.Navigation-sidebar-inactive-heading {
    font-style: italic;
    color: var(--theme-grey);
    margin-top: 20px;
}

.Navigation-sidebar .btn-group-vertical {
    width: 100%;
}

.Navigation-sidebar-course {
    /* Add a little more left padding for indentation */
    padding: var(--item-padding) var(--item-padding) var(--item-padding) 1em;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.Navigation-add-course-button {
    position: sticky;
    bottom: 5px;
    margin-top: 30px;
}

.Navigation-sidebar-opener {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--theme-grey);
    padding-left: 1px;
    padding-right: 1px;
    font-size: large;
}

.Navigation-content-pane {
    flex-grow: 7;
    overflow-y: scroll;
    padding: 10px;
}

.my-img {
    height: 50px;
    width: 50px;
}

.app-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
    font-size: 30px;
}