.Scatterplot {
    display: inline-block;
}

.Scatterplot-inner {
    display: flex;
}

.Scatterplot-svg {
    overflow: visible;
    margin: 20px 25px;
}

.Scatterplot-circle {
    color: 'cadetblue';
    opacity: 0.7;
}

.Scatterplot-x-label {
    float: right;
}

.Scatterplot-y-label {
    writing-mode: vertical-rl;
}

.Scatterplot-tooltip {
    max-width: 200px;
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
    font-size: smaller;
}

.Scatterplot-tooltip-x-label {
    font-weight: bold;
}

.Scatterplot-no-data-message {
    font-style: italic;
    fill: var(--theme-grey);
}
